########################
# Flake8 Configuration #
########################

[flake8]

extend-ignore =
  # Related to security for pickles
  S301, S403
  # White space before :
  E203
  # Don't be crazy if line too long
  E501
  # Empty method in an abstract base class
  B027
  # Disable black would make changes warning
  BLK100

per-file-ignores =
  # Imported but unused
  */__init__.py:F401
  # Print
  */cli.py:T201
  pyabc/storage/migrate.py:T201
  # Print and asserts
  test*/*.py:T201,S101
  # Module level import not at top of file
  test/external/test_pyjulia.py:E402
