*.py[cod]
*.npy

#temporary files
*~

# C extensions
*.so
*.build

#matlab
*.mat

#pycharm
.idea/

#eclipse
.settings/

# redis
dump.rdb


# IPython checkpoints (these are actually pretty useless to me)
.ipynb_checkpoints/

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
.cache


# Installer logs
pip-log.txt

# Coverage reports
.coverage*
nosetests.xml
/htmlcov
coverage.xml

# tox
.tox

# vim
*.swp

#documentation
doc/_build

.pytest_cache
dask-worker-space
*.lock
*tmp*
*amici_models*
