{% extends "base.html" %}
{% block title %}ABC {{ abc_id }}, Model {{ model_id }}{% endblock %}


{% block scripts %}
{{ super() }}
{{ BOKEH.render()|safe }}
{% for p in plots %}
{{ p.script|safe }}
{% endfor %}
{% endblock %}


{% block navbar_links %}
{{ super() }}
<li><a href="{{ url_for('abc_overview') }}">Overview</a></li>
<li><a href="{{ url_for('abc_detail', abc_id=abc_id) }}">Run</a></li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Populations <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% for t in available_t %}
        <li>
            <a href="{{ url_for('abc_model',abc_id=abc_id, model_id=model_id, t=t) }}">t={{ t }}</a>
        </li>
        {% endfor %}
    </ul>
</li>


{% endblock %}


{% block content %}
<div class="container">
    <h1>ABC {{ abc_id }}, Model {{ model_id }}, t={{ t }}</h1>

    <p>
        t: {% for t in available_t %}<a href="{{ url_for('abc_model',abc_id=abc_id, model_id=model_id, t=t) }}">{{ t
        }}</a>{% endfor %}
    </p>

    {% for p in plots %}
    <h2>Parameter: {{ p.parameter_name }}</h2>
    {{ p.div|safe }}

    {% endfor %}
</div>
{% endblock %}
